<header>
  <div class="wrapper">
    <div class="header-grid">
      <div>
        <h1>Social Media Dashboard</h1>
        <p class="header-total">Total Followers: 23, 004</p>
      </div>
      <div class="dark-mode">
        <p class="dark-mode-title">Dark Mode</p>
        <input type="checkbox" class="checkbox" id="checkbox">
        <label class="switch" for="checkbox"></label>
      </div>
    </div>
  </div>
</header>
<section class="top-cards">
  <div class="wrapper">
    <div class="grid">
      <article class="card facebook">
        <p class="card-title">
          <img src="../assets/images/icon-facebook.svg" alt="">
          @jdtrash
        </p>
        <p class="card-followers">
          <span class="card-followers-number">1987</span>
          <span class="card-followers-title">Followers</span>
        </p>
        <p class="card-today">
          <img src="../assets/images/icon-up.svg" alt="">
          12 Today
        </p>
      </article>
      <article class="card twitter">
        <p class="card-title">
          <img src="../assets/images/icon-twitter.svg" alt="">
          @juandcg031
        </p>
        <p class="card-followers">
          <span class="card-followers-number">25k</span>
          <span class="card-followers-title">Followers</span>
        </p>
        <p class="card-today">
          <img src="../assets/images/icon-up.svg" alt="">
          256 Today
        </p>
      </article>
      <article class="card instagram">
        <p class="card-title">
          <img src="../assets/images/icon-instagram.svg" alt="">
          @juandcg31
        </p>
        <p class="card-followers">
          <span class="card-followers-number">3560</span>
          <span class="card-followers-title">Followers</span>
        </p>
        <p class="card-today">
          <img src="../assets/images/icon-up.svg" alt="">
          256 Today
        </p>
      </article>
      <article class="card youtube">
        <p class="card-title">
          <img src="../assets/images/icon-youtube.svg" alt="">
          J.Diego.C
        </p>
        <p class="card-followers">
          <span class="card-followers-number">14k</span>
          <span class="card-followers-title">Followers</span>
        </p>
        <p class="card-today">
          <img src="../assets/images/icon-up.svg" alt="">
          102 Today
        </p>
      </article>
    </div>
  </div>
</section>
<app-overview></app-overview>