header{
    background: var(--lightGray);
    padding-bottom: 100px;
    border-radius: 0 0 20px 20px;
    padding-top: 2em;
}

.dark-mode {
    display: flex;
    justify-content: space-between;
    padding-top: 1em;
}
.top-cards{
    margin-top: -50px;
    margin-bottom: 3em;
}

h1 {
  margin: 0;  
  font-size: 1.7em;
}

.header-total{
    color: var(--gray);
    margin: .5em 0;
    font-weight: 600;
    border-bottom: 1px solid var(--gray);
    padding-bottom: 1.5em;
}

.card{
    border-radius: 8px;
    overflow: hidden;
    background: var(--cardGray);
    text-align: center;
    padding: 1.7em 0;
    position: relative;
}

.card:before {
    content: "";
    height: 4px;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}

.card.facebook::before{
    background:var(--facebook);
}

.card.twitter::before{
    background:var(--twitter);
}

.card.instagram::before{
    background-image: linear-gradient(to right, var(--instagram-1) 0%, var(--instagram-2) 100%);
}

.card.youtube::before{
    background:var(--youTube);
}
.card-title{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--cardTitle);
    font-size: .9em;
    font-weight: bold;
}

.card-title img {
    margin-right: 5px;
}

.card-followers{
  
}

.card-followers-number{
    font-size: 50px;
    font-weight: 700;
}

.card-followers-title{
    display: block;
    text-transform: uppercase;
    color: var(--cardTitle);
    letter-spacing: 5px;
    font-size: .75em;
}

.card-today{
    margin-top: 20px;
    color: var(--lime-green);
    font-size: .7em;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-today img {
    margin-right: 5px;
}
